@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class   ="text-center">
    <h1 class="display-4 text-danger">@Locals["Welcome"]</h1>
    <h4 class="text-warning">@Locals["Slogan"]</h4>

    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/imagesLayout/JulioProImage.png" style="width:50%" /></a>
</div>
